:root {
  /* --------------------------------- Colours -------------------------------- */

  /* Black & White */
  --black-0: #000;
  --black-1: #262621;
  --black-2: #333;
  --black-3: #666;
  --white-0: #fff;
  --white-1: #eee;
  --white-2: #ccc;
  --white-3: #aaa;

  /* Nature Color Palette */
  --yellow-1: #efd600;
  --yellow-2: #ffd500;
  --yellow-3: #fbba00;
  --orange-1: #f7a70b;
  --orange-2: #eb5b25;
  --orange-3: #e63323;
  --red-1: #e40428;
  --red-2: #e5005b;
  --red-3: #c82285;
  --purple-1: #964091;
  --purple-2: #6c4796;
  --purple-3: #494495;
  --blue-1: #1951a0;
  --blue-2: #006eb7;
  --blue-3: #0085c8;
  --turquoise-1: #0095bb;
  --turquoise-2: #0094a4;
  --turquoise-3: #00928c;
  --seagreen-1: #008b68;
  --seagreen-2: #229863;
  --seagreen-3: #449b50;
  --leafgreen-1: #3fa535;
  --leafgreen-2: #76b82a;
  --leafgreen-3: #c7d530;

  /* ------------------------------ Modular scale ----------------------------- */

  /*	Dimensions are scaled proportionately with the page width */

  /*	The fallback size is 16px */

  font-size: 16px;
  font-size: min(calc(1rem + 0.5vw), 22px);

  /* Sizes to use */
  --ratio: 1.3;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));

  /* Useful to for fallback values */
  --no-space: 0;

  /* ---------------------------------- Type ---------------------------------- */

  /* Harding is the defalut font, otherwise apply the sans serif font */
  --serif-font-family: harding, palatino, times, "Times New Roman", serif;
  --sans-serif-font: "Graphik Nature l Web", arial, helvetica, sans-serif;
  --font-size-small-3: var(--s-3);
  --font-size-small-2: var(--s-2);
  --font-size-small-1: var(--s-1);
  --font-size-base: var(--s0);
  --font-size-big-1: var(--s1);
  --font-size-big-2: var(--s2);
  --font-size-big-3: var(--s3);
  --font-size-big-4: var(--s4);

  /* ----------------------------- Transition time ---------------------------- */
  --time: 200ms;

  /* --------------------------------- Measure -------------------------------- */
  --measure: 60ch;
  --measure-big: calc(var(--measure) * var(--ratio));
  --measure-small: calc(var(--measure) / var(--ratio));

  /* --------------------------------- Spacing -------------------------------- */
  --space: var(--s-1);
  --cover-space: 1rem;
  --cover-height: 100vh;
}
