/* --------------------------- Dark colour scheme --------------------------- */
body.dark {
  --link-color: var(--orange-1);
  --link-color-invert: var(--blue-1);
  --link-color-active: var(--black-0);
  --outline: var(--yellow-1);
  --background-color: var(--black-0);
  --background-color-invert: var(--white-0);
  --text-color: var(--white-0);
  --text-color-invert: var(--black-1);
}
