/* --------------------------- Dark colour scheme --------------------------- */
body.dark {
  --color--link: var(--color--orange-1);
  --color--link-invert: var(--color--blue-1);
  --color--link-active: var(--color--black-0);
  --color--outline: var(--color--yellow-1);
  --color--background: var(--color--black-0);
  --color--background-invert: var(--color--white-0);
  --color--text: var(--color--white-0);
  --color--text-invert: var(--color--black-1);
  --color--text-disabled: var(--color--white-2);
  --color--button-expanded: var(--color--link-active);
  --color--button-background-expanded: var(--color--white-2);
}
