@charset "UTF-8";

@font-face {
  font-family: "Harding";
  src: url(../fonts/HardingText-Regular-Web.b167e675dc.woff2) format("woff2"),
    url(../fonts/HardingText-Regular-Web.62711b6c07.woff) format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Harding";
  font-weight: 700;
  src: url(../fonts/HardingText-Bold-Web.72203f58c0.woff2) format("woff2"),
    url(../fonts/HardingText-Bold-Web.d102a21e4f.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Harding";
  font-style: italic;
  src: url(../fonts/HardingText-RegularItalic-Web.a3136343af.woff2)
      format("woff2"),
    url(../fonts/HardingText-RegularItalic-Web.3cd6cb26e4.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Harding";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/HardingText-BoldItalic-Web.fe6dc3019e.woff2) format("woff2"),
    url(../fonts/HardingText-BoldItalic-Web.6db8bc0375.woff) format("woff");
  font-display: swap;
}
