html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  font-family: var(--serif-font-family);
  color: var(--text-color);
  background-color: var(--background-color);

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
  -webkit-font-smoothing: subpixel-antialiased;
}

/* ------------------------- Exception based styling ------------------------ */
* {
  box-sizing: border-box;
  max-width: var(--measure);
}

/* All elements should have a max width of --measure except these */
html,
body,
div,
aside,
section,
main,
article,
header,
figure,
img,
video,
iframe,
svg,
canvas,
footer,
a {
  max-width: none;
}

/* -------------------------------- Elements -------------------------------- */

/* headers */
h3 {
  font-size: var(--font-size-big-1);
}

h2 {
  font-size: var(--font-size-big-2);
}

h1 {
  font-size: var(--font-size-big-3);
}

/* text */
p {
  line-height: 1.4em;
}

/* links */
a {
  color: var(--link-color);
  text-decoration: underline;
  fill: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-active);
  background-color: var(--outline);
  outline: 3px solid var(--outline);
  fill: var(--link-color-active);
}

button:hover,
button:focus {
  outline: 3px solid var(--outline);
}

select:focus {
  outline: 3px solid var(--outline);
}

/* Figures */
figure {
  margin: 0;
}

figcaption {
  box-sizing: content-box;
  padding-right: var(--caption-space);
  padding-left: var(--caption-space);
}

figure > img,
figure > video,
iframe {
  width: 100%;
}

/* Prevent Superscripts and Subscripts from Affecting Line-Height */

/* https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup,
sub {
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}

sub {
  top: 0.4em;
}

/* --------------------------------- Themes --------------------------------- */

[data-theme] {
  --color--component: initial;
  --color--global: var(--text-color);
  --link-color--component: initial;
  --link-color--global: var(--link-color);
  --link-color-active--component: initial;
  --link-color-active--global: var(--link-color-active);
  --background-color--component: initial;
  --background-color--global: var(--background-color);

  color: var(--color--component, var(--color--global));
  background: var(
    --background-color--component,
    var(--background-color--global)
  );
  fill: var(--color--component, var(--color--global));
}

[data-theme] a {
  color: var(--link-color--component, var(--link-color--global));
  fill: var(--link-color--component, var(--link-color--global));
}

[data-theme] a:hover,
[data-theme] a:focus {
  color: var(--link-color-active--component, var(--link-color-active--global));
  fill: var(--link-color-active--component, var(--link-color-active--global));
}

[data-theme="invert"] {
  --color--component: var(--text-color-invert);
  --link-color--component: var(--link-color-invert);
  --background-color--component: var(--background-color-invert);
}

/* -------------------------------- Modifiers ------------------------------- */

/* Borders */
.border-above {
  padding-top: var(--s1);
  border-top: 1px solid var(--text-color);
}

/* Dropcap */
.drop-cap::first-letter {
  float: left;
  padding-top: 0.55rem;
  font-size: 4.85rem;
  font-style: normal;
  line-height: 3rem;
}

/* -------------------------------- Utilities ------------------------------- */

/* Make sure hidden elements are hidden */
[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 !important;
  opacity: 0;
}

/* -------------------------- Text style utilities -------------------------- */

.font-family\:sans-serif {
  font-family: var(--sans-serif-font);
}

.font-weight\:bold {
  font-weight: 800;
}

.font-weight\:normal {
  font-weight: 200;
}

.font-style\:italic {
  font-style: italic;
}

.text-transform\:uppercase {
  text-transform: uppercase;
}

.text-decoration\:none {
  text-decoration: none;
}

.text-decoration\:underline {
  text-decoration: underline;
}

.letter-spacing\:tight {
  letter-spacing: -0.02em;
}

/* --------------------------- Text size utilities -------------------------- */

.font-size\:small {
  font-size: var(--font-size-small-1);
}

.font-size\:base {
  font-size: var(--font-size-base);
}
.font-size\:big-1 {
  font-size: var(--font-size-big-1);
}
.font-size\:big-2 {
  font-size: var(--font-size-big-2);
}
.font-size\:big-3 {
  font-size: var(--font-size-big-3);
}
.font-size\:big-4 {
  font-size: var(--font-size-big-4);
}
