/* --------------------------- Light colour scheme -------------------------- */
body {
  --link-color: var(--blue-1);
  --link-color-invert: var(--orange-1);
  --link-color-active: var(--black-0);
  --outline: var(--yellow-1);
  --background-color: var(--white-0);
  --background-color-invert: var(--black-0);
  --text-color: var(--black-0);
  --text-color-invert: var(--white-0);
  --text-color-disabled: var(--white-3);
  --button-color-expanded: var(--link-color-active);
  --button-background-color-expanded: var(--white-2);
}
