@charset "UTF-8";

@font-face {
  font-family: "Harding";
  src: url("../fonts/HardingText-Regular-Web.woff2") format("woff2"),
    url("../fonts/HardingText-Regular-Web.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Harding";
  font-weight: 700;
  src: url("../fonts/HardingText-Bold-Web.woff2") format("woff2"),
    url("../fonts/HardingText-Bold-Web.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Harding";
  font-style: italic;
  src: url("../fonts/HardingText-RegularItalic-Web.woff2") format("woff2"),
    url("../fonts/HardingText-RegularItalic-Web.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Harding";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/HardingText-BoldItalic-Web.woff2") format("woff2"),
    url("../fonts/HardingText-BoldItalic-Web.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Graphik Nature l Web";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GraphikNaturel-Regular-Web.woff2") format("woff2"),
    url("../fonts/GraphikNaturel-Regular-Web.woff") format("woff");
}

@font-face {
  font-family: "Graphik Nature l Web";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GraphikNaturel-Bold-Web.woff2") format("woff2"),
    url("../fonts/GraphikNaturel-Bold-Web.woff") format("woff");
}
