/* --------------------------- Light colour scheme -------------------------- */
@at-root :root {
  --color--link: var(--color--blue-1);
  --color--link-invert: var(--color--orange-1);
  --color--link-active: var(--color--black-0);
  --color--link-active-invert: var(--color--black-0);
  --color--outline: var(--color--yellow-1);
  --color--background: var(--color--white-0);
  --color--background-invert: var(--color--black-0);
  --color--text: var(--color--black-0);
  --color--text-invert: var(--color--white-0);
  --color--text-disabled: var(--color--black-3);
  --color--button-expanded: var(--color--link-active);
  --color--button-background-expanded: var(--color--white-2);
}
